1 - Import Relevant Libraries

In [1]:
import pandas as pd
import numpy as np

2 - Load Data

In [2]:
data = pd.read_csv('absenteeism-data-preprocessed.csv')
data.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

3 - Create Targets

In [3]:
# create targets for our logistic regression
# they have to be categories and we must find a way to say if someone is 'being absent too much' or not
# what we've decided to do is to take the median of the dataset as a cut-off line
# in this way the dataset will be balanced (there will be roughly equal number of 0s and 1s for the logistic regression)
median = data['Absenteeism Time in Hours'].median()
median

3.0

In [4]:
# If a person is absent for more than 3 hours (median) he/she is in category of excessive absenteeism
# alternatively, if we had more data, we could have found other ways to deal with the issue 
# for instance, we could have assigned some arbitrary value as a cut-off line, instead of the median
targets = np.where(data['Absenteeism Time in Hours'] > median, 1, 0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [5]:
data['Excessive Absenteeism'] = targets
data

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8,1
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3,0
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8,1
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2,0

In [6]:
# create backup
data_backup = data.copy()
data_backup

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8,1
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3,0
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8,1
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2,0

4 - Balancing Data Set

In [7]:
# load backup
data = data_backup.copy()
data

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8,1
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3,0
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8,1
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2,0

In [8]:
# check if dataset is balanced (what % of targets are 1s)
# targets.sum() will give us the number of 1s that there are
# the shape[0] will give us the length of the targets array
targets.sum() / targets.shape[0]

0.45571428571428574

In [9]:
# 45.6% ---> data is balanced

In [10]:
# BACKWARD ELIMINATION

# If p-value > 0.05 or coefficients is near 0 or odds_ratio is near 1
# It show that the particular variables is of no value to us

# To drop variables - odds_ratio
# Daily Work Load Average - 0.999853
# Distance to Work - 0.992233
# Day of the Week - 0.919091

In [11]:
data = data.drop(['Distance to Work', 'Age',
                    'Daily Work Load Average', 'Absenteeism Time in Hours'], axis=1)
data

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,1,289,30,0,2,1,1
1,0,0,0,0,7,1,118,31,0,1,0,0
2,0,0,0,1,7,2,179,31,0,0,0,0
3,1,0,0,0,7,3,279,24,0,2,0,1
4,0,0,0,1,7,3,289,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,1,2,0,1
696,1,0,0,0,5,2,225,24,0,1,2,0
697,1,0,0,0,5,3,330,25,1,0,0,1
698,0,0,0,1,5,3,235,25,1,0,0,0
699,0,0,0,1,5,3,291,25,0,1,1,0

5 - Seperate Input and Output

In [12]:
unscaled_input = data.iloc[:,:-1]
unscaled_input

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,1,289,30,0,2,1
1,0,0,0,0,7,1,118,31,0,1,0
2,0,0,0,1,7,2,179,31,0,0,0
3,1,0,0,0,7,3,279,24,0,2,0
4,0,0,0,1,7,3,289,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,1,2,0
696,1,0,0,0,5,2,225,24,0,1,2
697,1,0,0,0,5,3,330,25,1,0,0
698,0,0,0,1,5,3,235,25,1,0,0
699,0,0,0,1,5,3,291,25,0,1,1

In [13]:
unscaled_output = data.iloc[:,-1]
unscaled_output

0      1
1      0
2      0
3      1
4      0
      ..
695    1
696    0
697    1
698    0
699    0
Name: Excessive Absenteeism, Length: 700, dtype: int32

6 - Standardization/Feature Scaling

In [14]:
# standardizing whole input

# from sklearn.preprocessing import StandardScaler
# absenteeism_scaler = StandardScaler()
# absenteeism_scaler.fit(unscaled_input)
# scaled_inputs = absenteeism_scaler.transform(unscaled_input)

# this is rather not recommended since dummy columns like reason_1, reason_2, ... are not required to be scaled

In [15]:
# Custom Scaler
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

# create the Custom Scaler class
class CustomScaler(BaseEstimator, TransformerMixin):

    # init or what information we need to declare a CustomScaler object
    # and what is calculated/declared as we do
    def __init__(self, columns, copy=True, with_mean=True, with_std=True):

        # scaler is nothing but a Standard Scaler object
        self.scaler = StandardScaler()
        
        # with some columns 'twist'
        self.columns = columns
        self.mean_ = None
        self.var_ = None

    # the fit method, which, again based on StandardScale
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self

    # the transform method which does the actual scaling
    def transform(self, X, y=None, copy=None):

        # record the initial order of the columns
        init_col_order = X.columns

        # scale all features that you chose when creating the instance of the class
        X_scaled = pd.DataFrame(self.scaler.transform(
            X[self.columns]), columns=self.columns)

        # declare a variable containing all information that was not scaled
        X_not_scaled = X.loc[:, ~X.columns.isin(self.columns)]

        # return a data frame which contains all scaled features and all 'not scaled' features
        # use the original order (that you recorded in the beginning)
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [16]:
unscaled_input.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Body Mass Index',
       'Education', 'Children', 'Pets'], dtype=object)

In [17]:
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Education']
columns_to_scale = [x for x in unscaled_input.columns.values if x not in columns_to_omit]
columns_to_scale

['Month Value',
 'Day of the Week',
 'Transportation Expense',
 'Body Mass Index',
 'Children',
 'Pets']

In [18]:
absenteeism_scaler = CustomScaler(columns_to_scale)
absenteeism_scaler.fit(unscaled_input)
scaled_input = absenteeism_scaler.transform(unscaled_input)
scaled_output = unscaled_output

c:\Python310\lib\site-packages\numpy\core\fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [19]:
scaled_input

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,-0.683704,1.005844,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-0.683704,-1.574681,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.007725,-0.654143,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.668253,0.854936,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,0.668253,1.005844,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.007725,-0.654143,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.388293,-0.007725,0.040034,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.388293,0.668253,1.624567,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.668253,0.190942,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.388293,0.668253,1.036026,-0.408580,0,-0.019280,0.268487

In [20]:
scaled_output

0      1
1      0
2      0
3      1
4      0
      ..
695    1
696    0
697    1
698    0
699    0
Name: Excessive Absenteeism, Length: 700, dtype: int32

7 - Split (Train and Test) and Shuffle Dataset

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train, x_test, y_train, y_test = train_test_split(scaled_input, targets, test_size=0.2, random_state=20)

In [23]:
print(x_train.shape, y_train.shape, "\n", x_test.shape, y_test.shape)

(560, 11) (560,)
 (140, 11) (140,)

8 - Prepare Logistic Regression Model

In [24]:
# import the LogReg model from sklearn
from sklearn.linear_model import LogisticRegression

# import the 'metrics' module, which includes important metrics we may want to use
from sklearn import metrics

In [25]:
reg = LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [26]:
reg.score(x_train,y_train)

0.7732142857142857

9 - Manual Check Accuracy

In [27]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [28]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [29]:
# ACTUALLY compare the two variables
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True, False,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
       False,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True, False, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [30]:
# find out in how many instances we predicted correctly
np.sum((model_outputs==y_train))

433

In [31]:
# get the total number of instances
model_outputs.shape[0]

560

In [32]:
# calculate the accuracy of the model
(np.sum((model_outputs==y_train)) / model_outputs.shape[0])*100

77.32142857142857

10 - Finding Weights and Biases

In [33]:
feature_name = scaled_input.columns.values

# use the coefficients from this table (they will be exported later and will be used in Tableau)
# transpose the model coefficients (model.coef_) and throws them into a df (a vertical organization, so that they can be
# multiplied by certain matrices later)
summary_table = pd.DataFrame(columns=['Feature Name'], data=feature_name)

# add the coefficient values to the summary table
summary_table['Coefficient'] = np.transpose(reg.coef_)

# display the summary table
summary_table

              Feature Name  Coefficient
0                 Reason_1     2.798318
1                 Reason_2     0.893787
2                 Reason_3     3.088538
3                 Reason_4     0.884103
4              Month Value     0.170488
5          Day of the Week    -0.092685
6   Transportation Expense     0.636620
7          Body Mass Index     0.188527
8                Education    -0.188187
9                 Children     0.330671
10                    Pets    -0.262054

In [34]:
intercept = pd.DataFrame(columns=['Feature Name'], data=["Bias"])
intercept["Coefficient"] = reg.intercept_
summary_table.append(intercept)

C:\Users\Utkarsh Mishra\AppData\Local\Temp\ipykernel_32396\3003379058.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_table.append(intercept)

              Feature Name  Coefficient
0                 Reason_1     2.798318
1                 Reason_2     0.893787
2                 Reason_3     3.088538
3                 Reason_4     0.884103
4              Month Value     0.170488
5          Day of the Week    -0.092685
6   Transportation Expense     0.636620
7          Body Mass Index     0.188527
8                Education    -0.188187
9                 Children     0.330671
10                    Pets    -0.262054
0                     Bias    -1.676617

In [35]:
# move the intercept to the top of the summary table by moving all indices by 1
summary_table.index = summary_table.index + 1

# add the intercept at index 0
summary_table.loc[0] = ['Bias', reg.intercept_[0]]

# sort the df by index
summary_table = summary_table.sort_index()
summary_table

              Feature Name  Coefficient
0                     Bias    -1.676617
1                 Reason_1     2.798318
2                 Reason_2     0.893787
3                 Reason_3     3.088538
4                 Reason_4     0.884103
5              Month Value     0.170488
6          Day of the Week    -0.092685
7   Transportation Expense     0.636620
8          Body Mass Index     0.188527
9                Education    -0.188187
10                Children     0.330671
11                    Pets    -0.262054

In [36]:
# In logistic regression models 
# log(odds_ratio) = bias + b1x1 + b2x2 + b3x3 + b4x4 + ... + bnxn
# odds = prob of something to happen/prob of something not to happen
summary_table['Odds Ratio'] = np.exp(summary_table.Coefficient)
summary_table

              Feature Name  Coefficient  Odds Ratio
0                     Bias    -1.676617    0.187006
1                 Reason_1     2.798318   16.417012
2                 Reason_2     0.893787    2.444370
3                 Reason_3     3.088538   21.944978
4                 Reason_4     0.884103    2.420812
5              Month Value     0.170488    1.185884
6          Day of the Week    -0.092685    0.911481
7   Transportation Expense     0.636620    1.890082
8          Body Mass Index     0.188527    1.207469
9                Education    -0.188187    0.828460
10                Children     0.330671    1.391902
11                    Pets    -0.262054    0.769469

In [37]:
summary_table.sort_values('Odds Ratio', ascending=False)

              Feature Name  Coefficient  Odds Ratio
3                 Reason_3     3.088538   21.944978
1                 Reason_1     2.798318   16.417012
2                 Reason_2     0.893787    2.444370
4                 Reason_4     0.884103    2.420812
7   Transportation Expense     0.636620    1.890082
10                Children     0.330671    1.391902
8          Body Mass Index     0.188527    1.207469
5              Month Value     0.170488    1.185884
6          Day of the Week    -0.092685    0.911481
9                Education    -0.188187    0.828460
11                    Pets    -0.262054    0.769469
0                     Bias    -1.676617    0.187006

In [38]:
# If the value of the coefficients is near to 0 or odds ratio is near to 1
# then the coefficients are considered not that important

# old_odds * odds_ratio = new_odds
# 5:1 * 2 = 10:1

# Base Model is when there is no reason for absenteeism
# Absenteeism due to poisoning has odds 22 times higher than than base model odds

11 - Test Model

In [39]:
reg.score(x_test,y_test)

0.7142857142857143

In [40]:
# find the predicted probabilities of each class
# the first column shows the probability of a particular observation to be 0, while the second one - to be 1
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.74422206, 0.25577794],
       [0.5702339 , 0.4297661 ],
       [0.41860709, 0.58139291],
       [0.81114065, 0.18885935],
       [0.07477054, 0.92522946],
       [0.33017624, 0.66982376],
       [0.33416234, 0.66583766],
       [0.11937477, 0.88062523],
       [0.81948477, 0.18051523],
       [0.75720719, 0.24279281],
       [0.5020829 , 0.4979171 ],
       [0.21522543, 0.78477457],
       [0.082474  , 0.917526  ],
       [0.70538362, 0.29461638],
       [0.19600079, 0.80399921],
       [0.60164624, 0.39835376],
       [0.56259793, 0.43740207],
       [0.59652222, 0.40347778],
       [0.25226659, 0.74773341],
       [0.05634397, 0.94365603],
       [0.72381128, 0.27618872],
       [0.8013552 , 0.1986448 ],
       [0.40667245, 0.59332755],
       [0.43722484, 0.56277516],
       [0.30203984, 0.69796016],
       [0.78065371, 0.21934629],
       [0.48868244, 0.51131756],
       [0.86826123, 0.13173877],
       [0.21009308, 0.78990692],
       [0.79119324, 0.20880676],
       [0.58715198, 0.41284802],
       [0.34886938, 0.65113062],
       [0.32254786, 0.67745214],
       [0.47775953, 0.52224047],
       [0.8013552 , 0.1986448 ],
       [0.5308413 , 0.4691587 ],
       [0.81217185, 0.18782815],
       [0.28170418, 0.71829582],
       [0.52018033, 0.47981967],
       [0.41319065, 0.58680935],
       [0.77825105, 0.22174895],
       [0.57400555, 0.42599445],
       [0.80682109, 0.19317891],
       [0.61553976, 0.38446024],
       [0.1559238 , 0.8440762 ],
       [0.44623453, 0.55376547],
       [0.33614902, 0.66385098],
       [0.73211441, 0.26788559],
       [0.76287347, 0.23712653],
       [0.82560465, 0.17439535],
       [0.41034708, 0.58965292],
       [0.68303187, 0.31696813],
       [0.34417695, 0.65582305],
       [0.66562929, 0.33437071],
       [0.13215685, 0.86784315],
       [0.48371611, 0.51628389],
       [0.1227438 , 0.8772562 ],
       [0.76080215, 0.23919785],
       [0.69865896, 0.30134104],
       [0.70159337, 0.29840663],
       [0.29141957, 0.70858043],
       [0.35524586, 0.64475414],
       [0.70661542, 0.29338458],
       [0.24165327, 0.75834673],
       [0.81278013, 0.18721987],
       [0.7388647 , 0.2611353 ],
       [0.92747867, 0.07252133],
       [0.79230547, 0.20769453],
       [0.23844151, 0.76155849],
       [0.66337326, 0.33662674],
       [0.81217185, 0.18782815],
       [0.60381657, 0.39618343],
       [0.09719982, 0.90280018],
       [0.52198489, 0.47801511],
       [0.4118086 , 0.5881914 ],
       [0.79119324, 0.20880676],
       [0.22426389, 0.77573611],
       [0.30170081, 0.69829919],
       [0.20008906, 0.79991094],
       [0.20348719, 0.79651281],
       [0.77825103, 0.22174897],
       [0.90442518, 0.09557482],
       [0.79331774, 0.20668226],
       [0.30460526, 0.69539474],
       [0.53549047, 0.46450953],
       [0.87599846, 0.12400154],
       [0.31501283, 0.68498717],
       [0.45269697, 0.54730303],
       [0.74184485, 0.25815515],
       [0.3632329 , 0.6367671 ],
       [0.81732624, 0.18267376],
       [0.88181662, 0.11818338],
       [0.78303764, 0.21696236],
       [0.71397531, 0.28602469],
       [0.77949645, 0.22050355],
       [0.12425409, 0.87574591],
       [0.73484668, 0.26515332],
       [0.23232697, 0.76767303],
       [0.73545342, 0.26454658],
       [0.73464537, 0.26535463],
       [0.40343013, 0.59656987],
       [0.33477523, 0.66522477],
       [0.25356201, 0.74643799],
       [0.31952349, 0.68047651],
       [0.48718121, 0.51281879],
       [0.43537163, 0.56462837],
       [0.75337719, 0.24662281],
       [0.14619162, 0.85380838],
       [0.22683733, 0.77316267],
       [0.85134105, 0.14865895],
       [0.91251542, 0.08748458],
       [0.1128427 , 0.8871573 ],
       [0.39112233, 0.60887767],
       [0.60720524, 0.39279476],
       [0.48040662, 0.51959338],
       [0.39970412, 0.60029588],
       [0.21572864, 0.78427136],
       [0.17738555, 0.82261445],
       [0.43055341, 0.56944659],
       [0.72659661, 0.27340339],
       [0.77101622, 0.22898378],
       [0.82515688, 0.17484312],
       [0.18626896, 0.81373104],
       [0.52753558, 0.47246442],
       [0.79119324, 0.20880676],
       [0.60706279, 0.39293721],
       [0.80899021, 0.19100979],
       [0.88321542, 0.11678458],
       [0.26228145, 0.73771855],
       [0.71111251, 0.28888749],
       [0.34297178, 0.65702822],
       [0.79912092, 0.20087908],
       [0.68324866, 0.31675134],
       [0.6508872 , 0.3491128 ],
       [0.72359761, 0.27640239],
       [0.52735894, 0.47264106],
       [0.58135594, 0.41864406],
       [0.69373639, 0.30626361],
       [0.69730792, 0.30269208],
       [0.52198489, 0.47801511]])

In [41]:
predicted_proba.shape

(140, 2)

In [42]:
# select ONLY the probabilities referring to 1s
predicted_proba[:,1]

array([0.25577794, 0.4297661 , 0.58139291, 0.18885935, 0.92522946,
       0.66982376, 0.66583766, 0.88062523, 0.18051523, 0.24279281,
       0.4979171 , 0.78477457, 0.917526  , 0.29461638, 0.80399921,
       0.39835376, 0.43740207, 0.40347778, 0.74773341, 0.94365603,
       0.27618872, 0.1986448 , 0.59332755, 0.56277516, 0.69796016,
       0.21934629, 0.51131756, 0.13173877, 0.78990692, 0.20880676,
       0.41284802, 0.65113062, 0.67745214, 0.52224047, 0.1986448 ,
       0.4691587 , 0.18782815, 0.71829582, 0.47981967, 0.58680935,
       0.22174895, 0.42599445, 0.19317891, 0.38446024, 0.8440762 ,
       0.55376547, 0.66385098, 0.26788559, 0.23712653, 0.17439535,
       0.58965292, 0.31696813, 0.65582305, 0.33437071, 0.86784315,
       0.51628389, 0.8772562 , 0.23919785, 0.30134104, 0.29840663,
       0.70858043, 0.64475414, 0.29338458, 0.75834673, 0.18721987,
       0.2611353 , 0.07252133, 0.20769453, 0.76155849, 0.33662674,
       0.18782815, 0.39618343, 0.90280018, 0.47801511, 0.5881914 ,
       0.20880676, 0.77573611, 0.69829919, 0.79991094, 0.79651281,
       0.22174897, 0.09557482, 0.20668226, 0.69539474, 0.46450953,
       0.12400154, 0.68498717, 0.54730303, 0.25815515, 0.6367671 ,
       0.18267376, 0.11818338, 0.21696236, 0.28602469, 0.22050355,
       0.87574591, 0.26515332, 0.76767303, 0.26454658, 0.26535463,
       0.59656987, 0.66522477, 0.74643799, 0.68047651, 0.51281879,
       0.56462837, 0.24662281, 0.85380838, 0.77316267, 0.14865895,
       0.08748458, 0.8871573 , 0.60887767, 0.39279476, 0.51959338,
       0.60029588, 0.78427136, 0.82261445, 0.56944659, 0.27340339,
       0.22898378, 0.17484312, 0.81373104, 0.47246442, 0.20880676,
       0.39293721, 0.19100979, 0.11678458, 0.73771855, 0.28888749,
       0.65702822, 0.20087908, 0.31675134, 0.3491128 , 0.27640239,
       0.47264106, 0.41864406, 0.30626361, 0.30269208, 0.47801511])

12 - Save The Model

In [43]:
import pickle

In [44]:
# pickle the model file
with open('model_backward_elimination', 'wb') as file:
    pickle.dump(reg, file)
    
# use 'rb' or read bytes instead of 'wb' or write bytes to unpickle file
# use 'load' instead of 'dump' to unpickle file

In [45]:
# pickle the scaler file - because it was used for standardizing custom columns
with open('scaler_backward_elimination', 'wb') as file:
    pickle.dump(absenteeism_scaler, file)